<div>
    <form asp-controller="Account" asp-action="Register" class=""> 
        <input type="text" name="UserName" placeholder="UserName"/>
        <input type="password" name="Password" placeholder="Password" />
        <button type="submit">Register</button>
    </form>
</div>